---
import Logo from "./Logo.astro";
---
<div class="preloader" id="preloader">
  <div class="preloader-inner">
    <div class="preloader-mark">
      <Logo />
      <span>OUTBUILD&nbsp;LAB</span>
    </div>
    <div class="preloader-count"><span id="loaderCount">000</span></div>
    <div class="preloader-status">GENERATING&nbsp;—&nbsp;V.01</div>
  </div>
</div>
